Repository Dzoukr/Yobo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

azure-pipelines-client.yml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  batch: 'true'
  branches:
    include: [ master, develop ]
  paths:
    include:
    - src/Yobo.Client/*
    - src/Yobo.Shared/*

steps:
- task: DotNetCoreInstaller@0
  displayName: Installing .net core sdk 2.2.100
  inputs:
    version: '2.2.100'
    packageType: sdk

- script: dotnet tool install --tool-path . paket
  displayName: 'Install Paket'

- script: dotnet tool install --tool-path . fake-cli
  displayName: 'Install FAKE'

- script: ./fake build -t publishClient
  displayName: 'Build'

- task: PublishBuildArtifacts@1
  displayName: 'Publish App Artifacts'
  inputs:
    pathtoPublish: './deploy/client'
    artifactName: 'client'

azure-pipelines-functionapp.yml:

pool:
  vmImage: 'vs2017-win2016'

trigger:
  batch: 'true'
  branches:
    include: [ master, develop ]
  paths:
    include:
    - src/Yobo.FunctionApp/*
    - src/Yobo.Shared/*
    - src/Yobo.Libraries/*

steps:
- task: DotNetCoreInstaller@0
  displayName: Installing .net core sdk 2.2.100
  inputs:
    version: '2.2.100'
    packageType: sdk

- script: dotnet tool install --tool-path . paket
  displayName: 'Install Paket'

- script: dotnet tool install --tool-path . fake-cli
  displayName: 'Install FAKE'

- script: fake build -t publishFunctionApp
  displayName: 'Build'

- task: PublishBuildArtifacts@1
  displayName: 'Publish App Artifacts'
  inputs:
    pathtoPublish: './deploy/functionApp'
    artifactName: 'functionApp'

config as funcs
  src/Yobo.Client/Http.fs
  src/Yobo.Client/public/configuration.js
Due: azure-pipelines-client.yml

Use Emit for config
  src/Yobo.Client/Http.fs
  src/Yobo.Client/public/configuration.js
  src/Yobo.Client/public/index.html
Due: azure-pipelines-client.yml

Fixing #5
  .paket/Paket.Restore.targets
  src/Yobo.Client/Admin/Lessons/State.fs
  src/Yobo.Client/Admin/Lessons/View.fs
  src/Yobo.Client/Calendar/State.fs
  src/Yobo.Client/Calendar/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/public/configuration.js
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.Shared/Calendar/Domain.fs
  src/Yobo.Shared/DateRange.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fable update
  .paket/Paket.Restore.targets
  package.json
  paket.dependencies
  paket.lock
  src/Yobo.Client/Admin/Lessons/View.fs
  src/Yobo.Client/Admin/Users/View.fs
  src/Yobo.Client/App.fs
  src/Yobo.Client/Auth/AccountActivation/View.fs
  src/Yobo.Client/Auth/ForgottenPassword/View.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Auth/Login/View.fs
  src/Yobo.Client/Auth/Registration/View.fs
  src/Yobo.Client/Auth/ResetPassword/View.fs
  src/Yobo.Client/Calendar/View.fs
  src/Yobo.Client/Components.fs
  src/Yobo.Client/Http.fs
  src/Yobo.Client/MyLessons/View.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/TokenStorage.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/paket.references
  src/Yobo.Core/Yobo.Core.fsproj
  src/Yobo.Core/paket.references
  src/Yobo.FunctionApp/paket.references
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
  src/Yobo.Shared/Yobo.Shared.fsproj
  src/Yobo.Shared/paket.references
  tools/DbMigrations/paket.references
  tools/EventStoreBackup/paket.references
  webpack.config.js
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Simplifying in progress
  src/Yobo.Core/Lessons/Aggregate.fs
  src/Yobo.Core/Lessons/CommandHandler.fs
  src/Yobo.Core/Lessons/DbCommandHandler.fs
  src/Yobo.Core/Lessons/DbEventHandler.fs
  src/Yobo.Core/Lessons/EventSerializer.fs
  src/Yobo.Core/Lessons/Lessons.fs
  src/Yobo.Core/Lessons/Projections.fs
  src/Yobo.Core/Lessons/UpdateQueries.fs
  src/Yobo.Core/Yobo.Core.fsproj
Due: none

Simplyfing complete
  src/Yobo.Core/Auth/Authenticator.fs
  src/Yobo.Core/Auth/EmailEventHandler.fs.fs
  src/Yobo.Core/Auth/Projections.fs
  src/Yobo.Core/Lessons/CommandHandler.fs
  src/Yobo.Core/Lessons/Projections.fs
  src/Yobo.FunctionApp/Admin/Functions.fs
  src/Yobo.FunctionApp/Auth/Functions.fs
  src/Yobo.FunctionApp/Calendar/Functions.fs
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.FunctionApp/Pipeline.fs
  src/Yobo.FunctionApp/Services.fs
  src/Yobo.FunctionApp/WebApp.fs
  src/Yobo.FunctionApp/Yobo.FunctionApp.fsproj
Due: azure-pipelines-functionapp.yml

Fixing build
  paket.dependencies
  paket.lock
  src/Yobo.FunctionApp/Services.fs
  src/Yobo.FunctionApp/Yobo.FunctionApp.fsproj
  src/Yobo.FunctionApp/paket.references
Due: azure-pipelines-functionapp.yml

Fixing #10
  src/Yobo.Core/Auth/EmailEventHandler.fs.fs
  src/Yobo.Core/Auth/ReadQueries.fs
  src/Yobo.Core/Lessons/Projections.fs
  src/Yobo.FunctionApp/Communication.fs
Due: azure-pipelines-functionapp.yml

Update ReadDb.fs
  src/Yobo.Core/ReadDb.fs
Due: none

:facepalm:
  src/Yobo.Client/App.fs
Due: azure-pipelines-client.yml

Fixing #9
  src/Yobo.Core/Lessons/CommandHandler.fs
Due: none

Fixing #8
  src/Yobo.Core/Lessons/UpdateQueries.fs
  src/Yobo.Shared/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Completing #6
  src/Yobo.Client/Admin/Lessons/State.fs
  src/Yobo.Client/Admin/Users/State.fs
  src/Yobo.Client/Auth/AccountActivation/State.fs
  src/Yobo.Client/Auth/ForgottenPassword/State.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Auth/Registration/State.fs
  src/Yobo.Client/Auth/ResetPassword/State.fs
  src/Yobo.Client/Calendar/State.fs
  src/Yobo.Client/MyLessons/Domain.fs
  src/Yobo.Client/MyLessons/State.fs
  src/Yobo.Client/MyLessons/View.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/public/index.html
  src/Yobo.Client/styles/app.scss
  src/Yobo.Client/styles/terms.scss
  src/Yobo.Core/Lessons/ReadQueries.fs
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.FunctionApp/WebApp.fs
  src/Yobo.Shared/MyLessons/Communication.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

WIP #11
  database/004-AddNewsletters.sql
  src/Yobo.Client/Auth/Registration/Domain.fs
  src/Yobo.Client/Auth/Registration/State.fs
  src/Yobo.Client/Auth/Registration/View.fs
  src/Yobo.Client/MyLessons/View.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/View.fs
  src/Yobo.Core/Auth/Auth.fs
  src/Yobo.Core/Auth/UpdateQueries.fs
  src/Yobo.FunctionApp/Auth/Functions.fs
  src/Yobo.Shared/Auth/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

WIP #11
  database/yobo.schema
Due: none

Ready to publish
  database/005-AddLogging.sql
  paket.dependencies
  paket.lock
  src/Yobo.Client/public/index.html
  src/Yobo.Core/Auth/Auth.fs
  src/Yobo.Core/Auth/CommandHandler.fs
  src/Yobo.Core/Auth/DbEventHandler.fs
  src/Yobo.Core/Auth/EmailEventHandler.fs
  src/Yobo.Core/Auth/MailChimpEventHandler.fs
  src/Yobo.Core/Auth/Projections.fs
  src/Yobo.Core/Auth/UpdateQueries.fs
  src/Yobo.Core/Yobo.Core.fsproj
  src/Yobo.Core/paket.references
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.FunctionApp/Configuration.fs
  src/Yobo.FunctionApp/Services.fs
  src/Yobo.FunctionApp/WebApp.fs
  src/Yobo.FunctionApp/paket.references
  src/Yobo.Libraries/Serialization.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Removing obsolete configuration
  src/Yobo.FunctionApp/Configuration.fs
Due: azure-pipelines-functionapp.yml

Fixing bug with checking expiration for cash reservation
  .paket/Paket.Restore.targets
  paket.dependencies
  src/Yobo.Core/Lessons/CommandHandler.fs
Due: none

Build core as well
  azure-pipelines-functionapp.yml
Due: none

Fixing bug in command handler
  src/Yobo.Core/Lessons/CommandHandler.fs
Due: none

Canceling time changed from 9 to 10
  src/Yobo.Client/StaticText.fs
  src/Yobo.Shared/Calendar/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Canceling lesson extends credits by one week
  src/Yobo.Core/Lessons/CommandHandler.fs
  src/Yobo.Core/Lessons/DbEventHandler.fs
  src/Yobo.Core/Lessons/Lessons.fs
  src/Yobo.Core/Lessons/Projections.fs
  src/Yobo.Core/Lessons/UpdateQueries.fs
Due: none

Update & delete lessons
  .paket/Paket.Restore.targets
  build.fsx
  src/Yobo.Client/Admin/Lessons/Domain.fs
  src/Yobo.Client/Admin/Lessons/State.fs
  src/Yobo.Client/Admin/Lessons/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Core/Lessons/CommandHandler.fs
  src/Yobo.Core/Lessons/DbEventHandler.fs
  src/Yobo.Core/Lessons/Lessons.fs
  src/Yobo.Core/Lessons/Projections.fs
  src/Yobo.Core/Lessons/ReadQueries.fs
  src/Yobo.Core/Lessons/UpdateQueries.fs
  src/Yobo.FunctionApp.Local/Yobo.FunctionApp.Local.fsproj
  src/Yobo.FunctionApp/Admin/Functions.fs
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.FunctionApp/host.json
  src/Yobo.Shared/Admin/Communication.fs
  src/Yobo.Shared/Admin/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Work complete
  src/Yobo.Client/Admin/Lessons/State.fs
  src/Yobo.Client/Admin/Lessons/View.fs
  src/Yobo.Core/Lessons/CommandHandler.fs
  src/Yobo.Core/Lessons/DbEventHandler.fs
  src/Yobo.Core/Lessons/Lessons.fs
  src/Yobo.Core/Lessons/UpdateQueries.fs
  src/Yobo.FunctionApp/Admin/Functions.fs
  src/Yobo.FunctionApp/Communication.fs
  src/Yobo.Shared/Admin/Communication.fs
  src/Yobo.Shared/Admin/Validation.fs
  src/Yobo.Shared/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Validation etc...
  .paket/Paket.Restore.targets
  Yobo.sln
  paket.dependencies
  paket.lock
  src/Yobo.Client/Auth/Domain.fs
  src/Yobo.Client/Auth/Login/Domain.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Auth/Login/View.fs
  src/Yobo.Client/Auth/State.fs
  src/Yobo.Client/Auth/View.fs
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Paths.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/package.json
  src/Yobo.Client/paket.references
  src/Yobo.Client/public/img/logo.png
  src/Yobo.Client/public/index.html
  src/Yobo.Client/styles/github-gist.scss
  src/Yobo.Client/styles/style.scss
  src/Yobo.Client/webpack.config.js
  src/Yobo.Client/yarn.lock
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Auth/Validation.fs
  src/Yobo.Shared/Communication.fs
  src/Yobo.Shared/Validation.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Better routing
  paket.lock
  src/Yobo.Client/Auth/Login/Domain.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Auth/Login/View.fs
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Feliz.Router.Extensions.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Shared/Validation.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Added Server
  .paket/Paket.Restore.targets
  Yobo.sln
  paket.dependencies
  paket.lock
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/package.json
  src/Yobo.Client/paket.references
  src/Yobo.Client/public/configuration.js
  src/Yobo.Client/public/index.html
  src/Yobo.Client/yarn.lock
  src/Yobo.Server/.gitignore
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/host.json
  src/Yobo.Server/paket.references
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

State handlers
  src/Yobo.Client/Auth/Login/Domain.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/StateHandlers.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Shared/Communication.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Added libs
  .paket/Paket.Restore.targets
  Yobo.sln
  build.fsx
  paket.dependencies
  paket.lock
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Libraries/Authentication/Jwt.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
  src/Yobo.Server.Local/Program.fs
  src/Yobo.Server.Local/Yobo.Server.Local.fsproj
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Communication.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Creating token
  build.fsx
  package.json
  paket.dependencies
  paket.lock
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/styles/styles.scss
  src/Yobo.Libraries/Authentication/Jwt.fs
  src/Yobo.Libraries/Authentication/Password.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Configuration.fs
  src/Yobo.Server/Flow.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
  src/Yobo.Shared/Communication.fs
  webpack.config.js
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Login complete
  src/Yobo.Client/Auth/Login/Domain.fs
  src/Yobo.Client/Auth/Login/State.fs
  src/Yobo.Client/Auth/Login/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/StateHandlers.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Flow.fs
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Communication.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

CQRS refined
  src/Yobo.Client/Auth/Domain.fs
  src/Yobo.Client/Auth/State.fs
  src/Yobo.Client/Auth/View.fs
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Forms.fs
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/StateHandlers.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/EventHandler.fs
  src/Yobo.Server/Auth/Events.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Flow.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Auth/Validation.fs
  src/Yobo.Shared/Domain.fs
  src/Yobo.Shared/Validation.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Introduced composition root
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/EventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Configuration.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
Due: none

Small cleanup
  .paket/Paket.Restore.targets
  src/Yobo.Server/CompositionRoot.fs
Due: none

Added handleEvents in CompositionRoot
  paket.dependencies
  paket.lock
  src/Yobo.Server.Local/Program.fs
  src/Yobo.Server/Auth/EventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
Due: none

Adding SimpleDapper
  .paket/Paket.Restore.targets
  build.fsx
  paket.dependencies
  paket.lock
  src/Yobo.Libraries/SimpleDapper.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/EventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
Due: azure-pipelines-functionapp.yml

Adding SimpleDapper
  src/Yobo.Libraries/SimpleDapper.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
Due: azure-pipelines-functionapp.yml

Changed terms
  src/Yobo.Client/StaticText.fs
Due: azure-pipelines-client.yml
