Repository Dzoukr/Yobo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

azure-pipelines-client.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk 2.2.100
    inputs:
      version: 2.2.100
      packageType: sdk
  - script: dotnet tool install --tool-path . paket
    displayName: Install Paket
  - script: dotnet tool install --tool-path . fake-cli
  ...

azure-pipelines-functionapp.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk 2.2.100
    inputs:
      version: 2.2.100
      packageType: sdk
  - script: dotnet tool install --tool-path . paket
    displayName: Install Paket
  ...

Calendar WIP
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/Calendar/Domain.fs
  src/Yobo.Client/Pages/Calendar/State.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/Calendar/styles.scss
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/paket.references
  src/Yobo.Client/styles/styles.scss
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Server/Core/Reservations/HttpHandlers.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Core/Reservations/Communication.fs
  src/Yobo.Shared/Core/Reservations/Domain.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Reservation availability
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Core/Reservations/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Buttons and tags
  src/Yobo.Client/Pages/Calendar/View.fs
Due: azure-pipelines-client.yml

Issue with Checkradio
  paket.lock
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/View.fs
Due: azure-pipelines-client.yml

Lessons command handler
  paket.lock
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

No more onlines
  src/Yobo.Client/Pages/Calendar/Domain.fs
  src/Yobo.Client/Pages/Calendar/State.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Lessons/styles.scss
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/State.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Server/Core/Reservations/HttpHandlers.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
  src/Yobo.Server/Core/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Domain.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Core/Reservations/Communication.fs
  src/Yobo.Shared/Core/Reservations/Domain.fs
  src/Yobo.Shared/Core/UserAccount/Communication.fs
  src/Yobo.Shared/Core/UserAccount/Domain.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Reservation complete
  database/008-AddCancelBeforeStart.sql
  database/008-CreateOnlines.sql
  package.json
  paket.dependencies
  paket.lock
  src/Yobo.Client/Pages/Calendar/Domain.fs
  src/Yobo.Client/Pages/Calendar/State.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/Calendar/styles.scss
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/State.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Server/Core/Reservations/HttpHandlers.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
  src/Yobo.Server/Core/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Domain.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Core/Reservations/Communication.fs
  src/Yobo.Shared/Core/Reservations/Domain.fs
  src/Yobo.Shared/Core/UserAccount/Domain.fs
  src/Yobo.Shared/Errors.fs
  src/Yobo.Shared/Validation.fs
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Ready to merge
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/Calendar/Domain.fs
  src/Yobo.Client/Pages/Calendar/State.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Libraries/Serialization.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/DbEventHandler.fs
  src/Yobo.Server/Auth/EmailEventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Auth/MailChimpEventHandler.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Server/Core/Reservations/HttpHandlers.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Core/Reservations/Communication.fs
  src/Yobo.Shared/Core/Reservations/Domain.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fixing pipelines
  azure-pipelines-client.yml
  azure-pipelines-server.yml
  build.fsx
Due: none

Fixing pipelines
  build.fsx
Due: none

Fixing client
  package.json
  yarn.lock
Due: none

Fixing build
  build.fsx
Due: none

Use UseElmish
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Interfaces.fs
  src/Yobo.Client/Pages/AccountActivation/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/State.fs
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/Calendar/Domain.fs
  src/Yobo.Client/Pages/Calendar/State.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/ForgottenPassword/Domain.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/State.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/Domain.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/Pages/Users/Domain.fs
  src/Yobo.Client/Pages/Users/State.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/TokenStorage.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/paket.references
  src/Yobo.Server/Startup.fs
Due: azure-pipelines-client.yml

Using props right
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/View.fs
Due: azure-pipelines-client.yml

Nicer tag
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/State.fs
Due: azure-pipelines-client.yml

Fixed prices
  src/Yobo.Client/StaticText.fs
Due: azure-pipelines-client.yml

Sort lessons and workshops by start date
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Reservations/Database.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
Due: none

Sort lessons and workshops by start date
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
Due: none

Fixing problems with connection in registration
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Startup.fs
Due: none

Fixing issue with anonymous record in props
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/View.fs
Due: azure-pipelines-client.yml

Fixing line breaks in descriptions
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/SharedView.fs
Due: azure-pipelines-client.yml

Fixing bug for reserved full lesson
  src/Yobo.Client/Pages/Calendar/View.fs
  src/Yobo.Shared/Core/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Adding README.md
  README.md
Due: none

Small update in README
  README.md
Due: none

Fixing some Czenglish
  README.md
Due: none

Sort users by last name
  src/Yobo.Client/Pages/Users/State.fs
Due: azure-pipelines-client.yml

Client build pipeline
  .github/workflows/Client.yml
  azure-pipelines-client.yml
Due: none

Client build pipeline
  .github/workflows/Client.yml
  build.fsx
  webpack.config.js
Due: none

Fixing build
  .gitignore
  webpack.config.js
Due: none

Deploying to gh-pages from @ 2bf8a0cb5c48b56211417db0875c0dffbba68126 🚀
  0cb5a5c0d251c109458c85c6afeffbaa.svg
  1.style.55fcc478fc40ead8a5d6.css
  1.style.55fcc478fc40ead8a5d6.css.map
  13685372945d816a2b474fc082fd9aaa.ttf
  1ab236ed440ee51810c56bd16628aef0.ttf
  261d666b0147c6c5cda07265f98b8f8c.eot
  89ffa3aba80d30ee0a9371b25c968bbb.svg
  a0369ea57eb6d3843d6474c035111f29.eot
  a06da7f0950f9dd366fc9db9d56d618a.woff2
  app.55fcc478fc40ead8a5d6.js
  app.55fcc478fc40ead8a5d6.js.map
  b15db15f746f29ffa02638cb455b8ec0.woff2
  bea989e82b07e9687c26fc58a4805021.woff
  c1868c9545d2de1cf8488f1dadd8c9d0.eot
  c20b5b7362d8d7bb7eddf94344ace33e.woff2
  configuration.js
  db78b9359171f24936b16d84f63af378.ttf
  ec3cfddedb8bebd2d7a3fdf511f7c1cc.woff
  ec763292e583294612f124c0b0def500.svg
  f89ea91ecd1ca2db7e09baa2c4b156d1.woff
  img/logo.png
  index.html
  style.55fcc478fc40ead8a5d6.css
  style.55fcc478fc40ead8a5d6.css.map
  vendors~app.55fcc478fc40ead8a5d6.js
  vendors~app.55fcc478fc40ead8a5d6.js.map
Due: none

Create CNAME
  CNAME
Due: none

Moving server to GH actions
  .github/workflows/Server.yml
  azure-pipelines-server.yml
Due: none

Update Server.yml
  .github/workflows/Server.yml
Due: none

Update CNAME
  CNAME
Due: none

DB Backup action
  .github/workflows/DatabaseBackup.yml
Due: none

Update DatabaseBackup.yml
  .github/workflows/DatabaseBackup.yml
Due: none

Path conditions:
  azure-pipelines-client.yml: any of: src/Yobo.Client, src/Yobo.Shared
  azure-pipelines-functionapp.yml: any of: src/Yobo.FunctionApp, src/Yobo.Shared, src/Yobo.Libraries
