Repository Dzoukr/Yobo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

azure-pipelines-client.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk 2.2.100
    inputs:
      version: 2.2.100
      packageType: sdk
  - script: dotnet tool install --tool-path . paket
    displayName: Install Paket
  - script: dotnet tool install --tool-path . fake-cli
  ...

azure-pipelines-functionapp.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk 2.2.100
    inputs:
      version: 2.2.100
      packageType: sdk
  - script: dotnet tool install --tool-path . paket
    displayName: Install Paket
  ...

Adding DeleteQuery
  src/Yobo.Libraries/SimpleDapper.fs
Due: azure-pipelines-functionapp.yml

Registration page
  .paket/Paket.Restore.targets
  paket.dependencies
  paket.lock
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/Registration/styles.scss
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/StaticText.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/paket.references
  src/Yobo.Client/styles/styles.scss
  src/Yobo.Client/styles/terms.scss
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Shared/Auth/Validation.fs
  src/Yobo.Shared/Validation.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

CE for SimpleDapper
  src/Yobo.Libraries/SimpleDapper.fs
  src/Yobo.Server/Auth/Database.fs
Due: azure-pipelines-functionapp.yml

SimpleDapper removed unwanted generics
  src/Yobo.Libraries/SimpleDapper.fs
Due: azure-pipelines-functionapp.yml

Using Dapper.FSharp
  .paket/Paket.Restore.targets
  paket.dependencies
  paket.lock
  src/Yobo.Libraries/SimpleDapper.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Flow.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
Due: azure-pipelines-functionapp.yml

Sending emails on registration
  paket.lock
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Libraries/Emails/Emails.fs
  src/Yobo.Libraries/Emails/MailjetSender.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/DbEventHandler.fs
  src/Yobo.Server/Auth/EmailEventHandler.fs
  src/Yobo.Server/Auth/EventHandler.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/EmailTemplates.fs
  src/Yobo.Server/Yobo.Server.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Account activation
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/State.fs
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/StateHandlers.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/DbEventHandler.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/ClientPaths.fs
  src/Yobo.Shared/Domain.fs
  src/Yobo.Shared/Validation.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Password reset
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/ForgottenPassword/Domain.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/ResetPassword/Domain.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/CommandHandler.fs
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/DbEventHandler.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/EmailEventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/EmailTemplates.fs
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Auth/Validation.fs
  src/Yobo.Shared/ClientPaths.fs
  src/Yobo.Shared/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

UserAccount service
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Domain.fs
  src/Yobo.Shared/UserAccount/Communication.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fighting with build
  .paket/Paket.Restore.targets
  Yobo.sln
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/TokenStorage.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/paket.references
  src/Yobo.Libraries/Tasks.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Libraries/paket.references
  src/Yobo.Server/.gitignore
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/EmailEventHandler.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/Domain.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
  src/Yobo.Shared/UserAccount/Communication.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
  src/Yobo.Shared/paket.references
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fighting with build
  Yobo.sln
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/paket.references
Due: none

Build working again
  .config/dotnet-tools.json
  .paket/Paket.Restore.targets
  paket.dependencies
  paket.lock
  src/Yobo.Client/paket.references
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Server/paket.references
Due: azure-pipelines-client.yml

Fixing error with Thoth.Json version
  Yobo.sln
  paket.dependencies
  paket.lock
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server.Local/Yobo.Server.Local.fsproj
  src/Yobo.Server.Local/paket.references
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Use exn instead of Results
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/Domain.fs
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Remoting.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Auth/Communication.fs
  src/Yobo.Shared/Domain.fs
  src/Yobo.Shared/UserAccount/Communication.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Auth works
  package.json
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/Remoting.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Shared/Domain.fs
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Feliz.Router 2.0
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Feliz.Router.Extensions.fs
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
Due: azure-pipelines-client.yml

Removing lame parsing
  src/Yobo.Client/Server.fs
Due: azure-pipelines-client.yml

Loader with getting real info from database
  package.json
  paket.dependencies
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/paket.references
  src/Yobo.Client/styles/styles.scss
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Remoting.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/Database.fs
  src/Yobo.Server/UserAccount/Domain.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/Domain.fs
  src/Yobo.Shared/UserAccount/Communication.fs
  src/Yobo.Shared/UserAccount/Domain.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Changing whole navigation and page state management
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Feliz.Router.Extensions.fs
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/Paths.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
Due: azure-pipelines-client.yml

Simplify updating sub-page model
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/State.fs
Due: azure-pipelines-client.yml

Reloading token each minute
  .config/dotnet-tools.json
  src/Yobo.Client/App.fs
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/State.fs
Due: azure-pipelines-client.yml

Better composition root
  src/Yobo.Client/Router.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/Database.fs
  src/Yobo.Shared/UserAccount/Domain.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Splitting pages to Secured and Anonymous
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/AccountActivation/View.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/State.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
Due: azure-pipelines-client.yml

Allow deep refresh of user
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/UserAccount/Database.fs
Due: azure-pipelines-client.yml

Users module
  .paket/Paket.Restore.targets
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Interfaces.fs
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/Users/Domain.fs
  src/Yobo.Client/Pages/Users/State.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/Server.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Auth/Database.fs
  src/Yobo.Server/Auth/Domain.fs
  src/Yobo.Server/Auth/HttpHandlers.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Server/UserAccount/Database.fs
  src/Yobo.Server/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Users/Database.fs
  src/Yobo.Server/Users/HttpHandlers.fs
  src/Yobo.Server/Yobo.Server.fsproj
  src/Yobo.Shared/DateTime.fs
  src/Yobo.Shared/Users/Communication.fs
  src/Yobo.Shared/Users/Domain.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Add credits form
  paket.dependencies
  paket.lock
  src/Yobo.Client/Pages/Users/Domain.fs
  src/Yobo.Client/Pages/Users/State.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/paket.references
  src/Yobo.Client/styles/styles.scss
Due: azure-pipelines-client.yml

Users section done
  src/Yobo.Client/Forms.fs
  src/Yobo.Client/Pages/Users/Domain.fs
  src/Yobo.Client/Pages/Users/State.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/Router.fs
  src/Yobo.Client/State.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Program.fs
  src/Yobo.Server/Remoting.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Making forms even cooler
  src/Yobo.Client/Forms.fs
  src/Yobo.Client/Pages/ForgottenPassword/Domain.fs
  src/Yobo.Client/Pages/ForgottenPassword/State.fs
  src/Yobo.Client/Pages/ForgottenPassword/View.fs
  src/Yobo.Client/Pages/Login/Domain.fs
  src/Yobo.Client/Pages/Login/State.fs
  src/Yobo.Client/Pages/Login/View.fs
  src/Yobo.Client/Pages/Registration/Domain.fs
  src/Yobo.Client/Pages/Registration/State.fs
  src/Yobo.Client/Pages/Registration/View.fs
  src/Yobo.Client/Pages/ResetPassword/Domain.fs
  src/Yobo.Client/Pages/ResetPassword/State.fs
  src/Yobo.Client/Pages/ResetPassword/View.fs
Due: azure-pipelines-client.yml

Fixing view
  src/Yobo.Client/Pages/Users/View.fs
Due: azure-pipelines-client.yml

Added DB migrations
  Yobo.sln
  build.fsx
  database/001-BasicStructure.sql
  database/002-AddPwdResetKey.sql
  database/003-AddWorkshops.sql
  database/004-AddNewsletters.sql
  database/005-AddLogging.sql
  database/006-AddCapacity.sql
  paket.dependencies
  paket.lock
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Shared/Core/Admin/Domain.fs
  src/Yobo.Shared/DateTime.fs
  src/Yobo.Shared/Validation.fs
  tools/DbMigrations/DbMigrations.fsproj
  tools/DbMigrations/Program.fs
  tools/DbMigrations/paket.references
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Lessons WIP
  database/007-RemoveCount.sql
  paket.lock
  src/Yobo.Client/Domain.fs
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Lessons/styles.scss
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Client/View.fs
  src/Yobo.Client/Yobo.Client.fsproj
  src/Yobo.Client/styles/styles.scss
  src/Yobo.Libraries/DateTime.fs
  src/Yobo.Libraries/Tuples.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/DateTime.fs
  src/Yobo.Shared/Errors.fs
  src/Yobo.Shared/Validation.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Creating lessons
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/State.fs
Due: azure-pipelines-client.yml

Workshops WIP
  paket.lock
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Users/Domain.fs
  src/Yobo.Client/Pages/Users/State.fs
  src/Yobo.Client/Pages/Users/View.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Online lessons
  database/008-CreateOnlines.sql
  paket.lock
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Domain.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Better forms selection
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Lessons/styles.scss
Due: azure-pipelines-client.yml

DDD instead of CRUD for Lessons
  paket.lock
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Lessons and workshops management done
  paket.lock
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/View.fs
  src/Yobo.Libraries/Yobo.Libraries.fsproj
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/DateTime.fs
  src/Yobo.Shared/Errors.fs
  src/Yobo.Shared/Tuples.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Calendar management complete
  src/Yobo.Client/Pages/Lessons/Domain.fs
  src/Yobo.Client/Pages/Lessons/State.fs
  src/Yobo.Client/Pages/Lessons/View.fs
  src/Yobo.Client/Pages/Lessons/styles.scss
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/HttpHandlers.fs
  src/Yobo.Server/Core/CommandHandler.fs
  src/Yobo.Server/Core/Database.fs
  src/Yobo.Server/Core/DbEventHandler.fs
  src/Yobo.Server/Core/Domain.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Communication.fs
  src/Yobo.Shared/Core/Admin/Validation.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Errors.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

My account done
  src/Yobo.Client/Pages/MyAccount/Domain.fs
  src/Yobo.Client/Pages/MyAccount/State.fs
  src/Yobo.Client/Pages/MyAccount/View.fs
  src/Yobo.Client/SharedView.fs
  src/Yobo.Client/State.fs
  src/Yobo.Server/CompositionRoot.fs
  src/Yobo.Server/Core/Admin/Database.fs
  src/Yobo.Server/Core/UserAccount/Database.fs
  src/Yobo.Server/Core/UserAccount/HttpHandlers.fs
  src/Yobo.Server/Startup.fs
  src/Yobo.Shared/Core/Admin/Domain.fs
  src/Yobo.Shared/Core/Domain.fs
  src/Yobo.Shared/Core/UserAccount/Communication.fs
  src/Yobo.Shared/Core/UserAccount/Domain.fs
  src/Yobo.Shared/Yobo.Shared.fsproj
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Path conditions:
  azure-pipelines-client.yml: any of: src/Yobo.Client, src/Yobo.Shared
  azure-pipelines-functionapp.yml: any of: src/Yobo.FunctionApp, src/Yobo.Shared, src/Yobo.Libraries
